.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--bg);
    z-index: 999;
    box-sizing: border-box;
}

.navbar-left {
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 48px;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.navbar-center {
    flex: 2;
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

.navbar-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 40px;
}

.navbar-left .logo {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5rem;
    color: var(--accent);
    text-decoration: none;
}

.navbar-center a {
    color: var(--text);
    padding: 0 12px;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    transition: color 0.2s ease;
}

.navbar-center a:hover {
    color: var(--text-hover);
}

.navbar-right button#theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--accent);
    min-width: 40px;
    height: 40px;
    padding: 8px 8px;
    display: flex;
    align-items: center;
    max-width: 36px;
    justify-content: center;
}

.material-symbols-outlined {
    font-size: 24px;
    overflow: hidden;
    transition: 0.3s ease;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.material-symbols-outlined:hover {
    color: var(--text-hover);
}

#icon-light,
#icon-dark {
  transition: opacity 0.3s ease;
}

#icon-light.hidden,
#icon-dark.hidden {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}