<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta
		name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no"
	/>
	<meta property="og:title" content="Personal Portfolio" />
	<meta property="og:description" content="My Personal Portfolio" />
	<meta property="og:url" content="{{ url }}" />

	<link rel="preconnect" href="https://fonts.gstatic.com" />
	<link
		href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Inter:wght@300;400;500;600;700&display=swap"
		rel="stylesheet"
	/>

	<link rel="icon" href="./static/img/favicon.ico" type="image/x-icon" />
	<link lang="sass" rel="stylesheet" href="./static/styles/main.css" />
	<link rel="stylesheet" href="./static/styles/navbar.css" />
	{% if title == "Joshua Dierickse - Hobbies" %}
	<link rel="stylesheet" href="./static/styles/hobbies.css" />
	{% endif %} {% if title == "Joshua Dierickse - Timeline" %}
	<link rel="stylesheet" href="./static/styles/timeline.css" />
	{% endif %} {% if title == "Joshua Dierickse" %}
	<link rel="stylesheet" href="./static/styles/experiences.css" />
	<link rel="stylesheet" href="./static/styles/visited.css" />
	<link rel="stylesheet" href="./static/styles/about.css" />
	{% endif %}
	<title>{{ title }}</title>
	<link
		rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=light_mode,moon_stars"
	/>
</head>
