<nav class="navbar">
    <div class="navbar-left">
        <a href="#home" class="logo">Jenny C</a>
    </div>
    <div class="navbar-center">
        <a href="#home">Home</a>
        <a href="#about">About</a>
        <a href="#experience">Experience</a>
        <a href="#projects">Projects</a>
        <a href="#hobbies">Hobbies</a>
    </div>
    <div class="navbar-right">
        <button id="theme-toggle" aria-label="Toggle theme">
            <span class="material-symbols-outlined" id="icon-light">light_mode</span>
            <span class="material-symbols-outlined" id="icon-dark">moon_stars</span>
        </button>
    </div>
</nav>